*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
	margin: 0;
	background-color: white;
    font-family: "Stag Sans VU";
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
}
h1{
	font-size: 35px;
}

li{
	list-style: none;
}
a{
    color: #525252;
	text-decoration: none !important;
}
p{
    padding:unset;
    margin: unset;
}
/* header */
@media (min-width: 1170px){
    #vuanem-header .container {
        max-width: 1170px;
    }
}
#vuanem-header .container{
    margin: 0 auto;
    width: 100%;
    background: transparent;
    padding: 0;
}


#vuanem-header { 
    font-family: "Stag Sans VU";
    background: #fff;
}
#vuanem-header .header-top {
    font-size: 14px;
    color: #5b5e60;
    background: white;
    border-top: solid 1px #ececec ;
    border-bottom: #ececec 1px solid;
    font-weight: 300;   
}

#vuanem-header .header-top .information-website{
    border-left: 1px solid #ececec;
}
#vuanem-header .header-top .items-link{
    display: inline-block;
    padding: 6px;
    border-right: 1px solid #ececec;
}
#vuanem-header .header-top .items-link .icons.save-money{
    background: url(../img/Slice_4.png) no-repeat;
    width: 16px;
    height: 14px;
}
#vuanem-header .header-top .items-link.login{
    padding: unset;
}
#vuanem-header .header-top .items-link:not(:last-child){
    padding: 6px 15px;
}
#vuanem-header .header-top .items-link.tra-gop{
    padding-left: 26px;
}

#vuanem-header .header-top .items-link:last-child {
    float: right;
}
#vuanem-header .header-top .items-link.login .content >li {
    display: inline-block;
    padding: 6px 12px;
    border-left:1px solid #ececec ;
}

/* header- content header-menu */
#vuanem-header .header-content{
    background: #fff;
    color: #525252;
    border-bottom: 142px solid whitesmoke;
}
#vuanem-header .header-content .header-menu .logo{
    /* width: 10%; */
    float: left;
}
#vuanem-header .header-content .header-menu .logo-header {
    padding: 25px 31px 31px 31px;
    width: 100%;
    height: auto;
    text-align: center;
}
#vuanem-header .header-content .header-menu .logo-header a >img{
    /* width: 80%;
    height: auto; */
    width: 70px;
    height: 34px;
}
#vuanem-header .header-content .header-menu {
    display: flex;
}
#vuanem-header .header-content .header-menu .menu {
    float: left;
    padding: 31px 0px;
    width: 63.5%;
    position: relative;
    border-right:1px solid #ececec;
}
#vuanem-header .header-content .header-menu .groupmenu{
    display:inline-block;
    float: left;
    padding-left: unset;
}
#vuanem-header .header-content .header-menu .groupmenu >li.item.level0 {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 27px;
}
#vuanem-header .header-content .header-menu .menu>ul>li>a{ 
    font-size: 16px;
    background: transparent;
    color: #5b5e60;
    cursor:pointer;
    font-weight: 500;
    font-family: "Stag Sans VU";
}
#vuanem-header .header-content .header-menu .menu .groupmenu .parent>a::after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;

}
#vuanem-header .header-content .header-menu .menu .groupmenu .hot-label>a{
    color: #f14a48;
}
#vuanem-header .header-content .header-menu .menu .groupmenu .item.hot-label{   
    margin-right: 58px;
}
#vuanem-header .header-content .header-menu .menu .groupmenu .hot-label>a span:before{
    content: "";
    background: url(../img/hot.gif) 0 0 no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -1px;
    right:-30px;
}

#vuanem-header .header-content .header-menu .menu .header-seach{
    float: left;
    /* margin: 20px 0px; */
    /* position: absolute;
    right: 15px; */
    width:100%;
}
.seach-input{
    width:97%;
    position: absolute;
    top: 40px;
}
.seach-input >input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 25px;
    border-bottom: 2px solid #1979c3;
}
#vuanem-header .header-content .header-menu .menu .header-seach >i {
    position: absolute;
    right: 25px;
    top: 32px;
    font-size: 18px;
    font-weight: unset;
    color: #5b5e60;
    height: 20px;
}
#vuanem-header .header-content .header-menu .menu .header-seach >button>i {
    font-size: 16px;
    columns:#a3a3a3 ;
}

/* store-map */
#vuanem-header .header-content .header-menu .store-map{
    color: #40419b;
    padding-top: 20px;
    width: 16%;
    padding-left: 15px;
}
#vuanem-header .header-content .header-menu .store-map a{
    color: #40419b;
    font-weight: bold;
    background: #fff;
}
#vuanem-header .header-content .header-menu .store-map >div{
    float: left;
    margin-top: 11px;
    margin-right: 7px;
}

#vuanem-header .header-content .header-menu .pay-call{
    text-align: center;
    background:#40419b ;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    width: 13.01%;
    padding-top: 20px;
}
#vuanem-header .header-content .header-menu .pay-call a{
    background:#40419b ;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    
}
.icon-search{
    background: url(../img/Path_435.png) no-repeat;
    width: 16px;
    height: 14px;
}
